<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi, {{ name }} is my simple website</h1>
    <h2>my ip  is {{ inventory_hostname }} </h2>
    <h3>my Linux is {{ ansible_distribution }} </h3>
    <button>press me</button>
    <p>My name is <span id="name">John Doe</span></p>
    <a href="http://google.com" target="_blank" rel="noopener noreferrer">Go to GOOGLE</a>
</body>
</html>